footer, footer.footer {
    position: relative !important;
}

.comment {
    background-color: aliceblue;
    background: aliceblue;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.new-comment {
        padding: 1rem;
    border-radius: 20px;
    background: slategrey;
}