.accordion-btn {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #fff;
  text-align: left;
  transition: background 0.2s;
}
.accordion-btn::after {
  /* content: url(/static/public/images/svg/chev-up.svg); */
  fill: #fff;
  float: right;
  transform: scale(1.5);
}
.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  padding: 0 15px;
  background: #eaeaea;
  transition: all 0.2s;
  margin-bottom: 1rem;
}
.accordion-btn-active > .accordion-content {
  transition: all 0.2s;
}
