  <!-- == Meta data == -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- == Meta data == -->

    <!-- == Bulma.io == -->
    <link rel="stylesheet" href="https://raw.githubusercontent.com/GCSEAID/Studybusiness/dev/static/public/css/bulma.min.css">
    <!-- == Bulma.io == -->

    <!-- == Fontawesome 5 == -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <!-- == Fontawesome 5 == -->

    <!-- == JQuery == -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js"
        integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <!-- == JQuery == -->

    <!-- == Local Stylesheets + Local Scripts == -->
    <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/GCSEAID/Studybusiness/dev/static/public/css/main.css">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/GCSEAID/Studybusiness/dev/static/public/images/logo.png" type="image/x-icon">

    <!-- == Local Stylesheets + Local Scripts == -->
