{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {%include './layout/nav.html' %} {% include './layout/main.html' %}
  <link rel="stylesheet" href="{% static 'cases/css/style.css' %}">

  <title>StudyBusiness – Case Studies</title>
</head>

<body>
  <div class="container mt-4 mb-4">
    <h2 class="title f-2r">Our list of case studies</h2>
    <div class="content"> 
      <h2 class="title f-15r">Chapter 1</h2>

      <div class="topic">
        <h3 class="title f-12r">Topic 1: Business Services</h3>
        <a class="box" href="business/cases/carbolt_mineral_ltd">
          <div class="case">
            <article class="media">
              <div class="media-left">
                <figure class="image is-130w">
                  <img
                    src="https://img.etimg.com/thumb/width-640,height-480,imgsize-371409,resizemode-1,msid-73063341/industry/indl-goods/svs/metals-mining/coal-mining-may-be-opened-up-to-all-sectors-before-next-auction/4.jpg"
                    alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Carbolt Mineral LTD</strong>
                    <br>
                    Cobalt Mineral LTD has been mining coal and other minerals in Australia in the past 10 years. Their
                    main quarry is in Olympic Dam, south of Australia. They mainly sell iron ore and some uranium ores too
                    nuclear power plants and iron ore extractors.
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <small class="has-text-grey">Author – Akshanjay</small>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </a>
      </div>
      <div class="topic">
        <h3 class="title f-12r">Topic 2: Business Services</h3>
        <a class="box" href="business/cases/carbolt_mineral_ltd">
          <div class="case">
            <article class="media">
              <div class="media-left">
                <figure class="image is-130w">
                  <img
                    src="https://img.etimg.com/thumb/width-640,height-480,imgsize-371409,resizemode-1,msid-73063341/industry/indl-goods/svs/metals-mining/coal-mining-may-be-opened-up-to-all-sectors-before-next-auction/4.jpg"
                    alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Carbolt Mineral LTD</strong>
                    <br>
                    Cobalt Mineral LTD has been mining coal and other minerals in Australia in the past 10 years. Their
                    main quarry is in Olympic Dam, south of Australia. They mainly sell iron ore and some uranium ores too
                    nuclear power plants and iron ore extractors.
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <small class="has-text-grey">Author – Akshanjay</small>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </a>
      </div>
      

    </div>

    <div class="content"> 
      <h2 class="title f-15r">Chapter 2</h2>

      <div class="topic">
        <h3 class="title f-12r">Topic 2: Business Services</h3>
        <a class="box" href="business/cases/carbolt_mineral_ltd">
          <div class="case">
            <article class="media">
              <div class="media-left">
                <figure class="image is-130w">
                  <img
                    src="https://img.etimg.com/thumb/width-640,height-480,imgsize-371409,resizemode-1,msid-73063341/industry/indl-goods/svs/metals-mining/coal-mining-may-be-opened-up-to-all-sectors-before-next-auction/4.jpg"
                    alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Carbolt Mineral LTD</strong>
                    <br>
                    Cobalt Mineral LTD has been mining coal and other minerals in Australia in the past 10 years. Their
                    main quarry is in Olympic Dam, south of Australia. They mainly sell iron ore and some uranium ores too
                    nuclear power plants and iron ore extractors.
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <small class="has-text-grey">Author – Akshanjay</small>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </a>
      </div>
      

    </div>



  </div>
  {% include './layout/footer.html' %}
</body>

</html>