{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {%include './layout/nav.html' %} {% include './layout/main.html'%}
    <link rel="stylesheet" href="{% static 'team/css/style.css' %}">
    
    <title>StudyBusiness – The Team</title>
</head>

<body>
    <div class="container mt-4">
        <h2 class="title f-2r">Here is the team behind all this - they made a dream become a reality</h2>
        <!-- <div class="block">
            This text is within a <strong>block</strong>.
        </div> -->
        <div class="tile is-ancestor mb-4">
  <div class="tile is-horizontal">
      <div class="tile is-parent">
            <article class="tile is-child notification is-light">
            <p class="title f-2r">Akshanjay Kompelli</p>
            <p class="subtitle">Content creator</p>
            <figure class="image is-4by3">
                <img src="https://cdn.discordapp.com/avatars/529631250449956874/bd2f75c6b0cac0fd3828470eaad6907f.png?size=2048">
            </figure>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-light">
            <p class="title f-2r">Amr El Saeed</p>
            <p class="subtitle">Website developer & designer</p>
            <figure class="image is-4by3">
                <img src="https://cdn.discordapp.com/avatars/324920582665928727/295f084863a55aca48ada0e46d919633.png?size=2048">
            </figure>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-light">
            <p class="title f-2r">Ahsan Shahzad</p>
            <p class="subtitle">Team organizer</p>
            <figure class="image is-4by3">
                <img src="https://discord.com/assets/6debd47ed13483642cf09e832ed0bc1b.png">
            </figure>
            </article>
        </div>
        </div>
        </div></div>
    </div>
    {% include './layout/footer.html' %}
</body>

</html>