{% load static %}
<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item noselect" href="#">
                <img class="nodrag nav-logo" src="{% static 'public/images/logotext.png' %}" draggable="false">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    Home
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Subjects
                    </a>

                    <div class="navbar-dropdown">
                        <div class="dropdown is-hoverable is-drop-right">
                            <div class="dropdown-trigger navbar-item">
                                <a href="/sub/business" class="navbar-item">Business</a><i class="nav-chev fas fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="dropdown-menu drop-menu-a" id="dropdown-menu2" role="menu">
                                <div class="dropdown-content">
                                    <a href="/cases" class="navbar-item">
                                        Case studies
                                    </a>
                                    <!--
                                    <a class="navbar-item">
                                        Notes
                                    </a>
                                    <a class="navbar-item">
                                        Questions
                                    </a>
                                    <a class="navbar-item">
                                        Exam papers
                                    </a>
-->
                                </div>
                            </div>
                        </div>
                        <!--<div class="dropdown is-hoverable is-drop-right">
                            <div class="dropdown-trigger navbar-item">
                                <a href="/sub/chem" class="navbar-item">Chemistry</a><i class="nav-chev fas fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="dropdown-menu drop-menu-b" id="dropdown-menu2" role="menu">
                                <div class="dropdown-content">
                                    <a class="navbar-item">
                                        Notes
                                    </a>
                                    <a class="navbar-item">
                                        Questions
                                    </a>
                                    <a class="navbar-item">
                                        Exam papers
                                    </a>
                                </div>
                            </div>
                        </div><div class="dropdown is-hoverable is-drop-right">
                            <div class="dropdown-trigger navbar-item">
                                <a href="/sub/phy" class="navbar-item">Physics</a><i class="nav-chev fas fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="dropdown-menu drop-menu-c" id="dropdown-menu2" role="menu">
                                <div class="dropdown-content">
                                    <a class="navbar-item">
                                        Notes
                                    </a>
                                    <a class="navbar-item">
                                        Questions
                                    </a>
                                    <a class="navbar-item">
                                        Exam papers
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown is-hoverable is-drop-right">
                            <div class="dropdown-trigger navbar-item">
                                <a href="/sub/math" class="navbar-item">Math</a><i class="nav-chev fas fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="dropdown-menu drop-menu-d" id="dropdown-menu2" role="menu">
                                <div class="dropdown-content">
                                    <a class="navbar-item">
                                        Notes
                                    </a>
                                    <a class="navbar-item">
                                        Questions
                                    </a>
                                    <a class="navbar-item">
                                        Exam papers
                                    </a>
                                </div>
                            </div>
                        </div>-->
                </div>
            </div>
       <!--
            <a href="/team" class="navbar-item">
                The team
            </a>
            <a href="/resources" class="navbar-item">
                Our resources
            </a>
            <a href="/faq" class="navbar-item">
                FAQ
            </a>-->
        </div>


        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                   <!--
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Sign in
                    </a>
                    -->
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>
