footer, footer.footer {
    position: relative !important;
}


.image.is-130w {
    width: 130px !important;
    margin: 0;
}

.box:hover {
    background-color: #f5f5f5 !important;
    color: #0a0a0a !important;
}

 .box > a {
         color: currentColor;

 }