<html>
   <head>
      <title>Answers for Carbolt Mineral – Studybusiness</title>
      <!--Meta Data -->
       <link rel="stylesheet" href="static/public/css/bulma.min.css">
       <link rel="stylesheet" href="static/public/css/main.css">
       <link rel="stylesheet" href="static/cases/css/style.css">
       <!-- == Fontawesome 5 == -->
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
       <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
       <!-- == Fontawesome 5 == -->
       <link rel="shortcut icon" href="https://raw.githubusercontent.com/GCSEAID/Studybusiness/dev/website/static/public/images/logo.png" 
       type="image/x-icon">
     <!--end of Meta data -->

      <!--Navigation bar-->
      <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item noselect" href="/">
                    <img class="nodrag nav-logo" 
                     src="https://raw.githubusercontent.com/GCSEAID/Studybusiness/dev/static/public/images/logotext.png" draggable="false">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/" class="navbar-item">
                        Home
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="business" class="navbar-link">
                            Business
                        </a>
                        <div class="navbar-dropdown">
                                <div class="dropdown-trigger navbar-item">
                                    <a href="cases" class="navbar-item">Cases</a><i class="nav-chev fas fa-chevron-right" aria-hidden="true"></i>
                                </div>  
                                <div class="dropdown-trigger navbar-item">
                                    <a href="definitions" class="navbar-item">Definitions</a><i class="nav-chev fas fa-chevron-right"
                                       aria-hidden="true"></i>
                                </div>

                </div>  </div>
            </div>
        </div>
      </nav>
   </head>
<body>
   <h1 class="title center-align">Your answers are listed below</h1>

   <div class="field">
      <label id="q" class="label">Answer for Question</label>
      <div class="control">
         <input id="a" class="input" type="text" placeholder="Answer here">
      </div>
   </div>
   
</body>

<script>Array.prototype.slice.call(document.querySelectorAll(".navbar-burger"),0).forEach((function(r){r.addEventListener("click",(function(){var e=document.getElementById(r.dataset.target);r.classList.toggle("is-active"),e.classList.toggle("is-active")}))}));       </script>
    
<!-- Hero footer: will stick at the bottom -->
<footer class="footer">
    <div class="content has-text-centered">
        <span>Email: <a href="mailto:contact@studybusiness.info">contact@studybusiness.info</a></span>
    </div>
</footer>
</html>
