<!DOCTYPE html>
<title>StudyBusiness – Case Studies</title>

<!--Meta Data -->
<link rel="stylesheet" href="{{ url_for('static', filename='public/css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='cases/css/style.css') }}">
<script src="{{ url_for('static', filename='cases/js/caselistpopulater.js') }}"></script>

{% include './layout/headerData.html' %}
{% include './layout/navbar.html' %}

</head>

<body onload="test()">
  <div class="container mt-4" style="margin-bottom:5rem !important;">
    <h2 class="title f-2r">Our list of case studies</h2>
    <div class="content">
      <h2 class="title f-15r">Chapter 1</h2>

      <div class="topic">
        {% for case in cases %}
        <a id="casee" class="box" href='{{ case.id }}'>
          <div class="case">
            <article class="media">
              <div class="media-left">
                <img id="caseimg" src="{{ url_for('static', filename='public/images/Air Vigour Pic.jpg') }}" alt="Business Image"
                  class="image is-130w">
              </div>
              <div class="media-content">
                <div class="content">
                  <strong id="caseTitlee"> {{ case.title }} </strong>
                  <br>
                  <p id="caseDesce">
                    {{ case.description }}
                  </p>
                </div>
                <div class="level is-mobile">
                  <div class="level-left">
                    <small class="has-text-grey">Author – Akshanjay</small>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </a>

        {% endfor %}



        <!--         <h3 id="topicTitle" class="title f-12r">Topic Placeholder</h3> -->
        <!--         
        <a id="case" class="box" href="template?id=1">
          <div class="case">
            <article class="media">
              <div class="media-left">
                  <img id="caseimg"
                    src="static/public/images/Air Vigour Pic.jpg"
                    alt="Business Image" class="image is-130w">
              </div>
              <div class="media-content">
                <div class="content">
                    <strong id="caseTitle">Case Study Title</strong>
                    <br>
                    <p id="caseDesc">
                      Case Study Description
                    </p>
                </div>
                <div class="level is-mobile">
                  <div class="level-left">
                    <small class="has-text-grey">Author – Akshanjay</small>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </a> -->
        <!-- <h3 class="title f-12r">Topic 2: Business Objectives</h3>
        <a class="box" href="template?id=2">
          <div class="case">
            <article class="media">
              <div class="media-left">
                <figure class="image is-130w">
                  <img
                    src="static/public/images/Omar Sweet Shop Pic.jpg"
                    alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Omar Sweet Shop</strong>
                    <br>
                    Omar owns a sweet shop in one of the busiest souqs in Kuwait. Omar most profitable months were in the Ramadan season where people fasted from sunrise to sunset. Omar’s family has also been helping in the running of the business.
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <small class="has-text-grey">Author – Akshanjay</small>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </a> -->
      </div>
      <!--
      <div class="topic">
        <h3 class="title f-12r">Topic 2: Business Services</h3>
        <a class="box" href="carbolt_mineral_ltd.html">
          <div class="case">
            <article class="media">
              <div class="media-left">
                <figure class="image is-130w">
                  <img
                    src="https://img.etimg.com/thumb/width-640,height-480,imgsize-371409,resizemode-1,msid-73063341/industry/indl-goods/svs/metals-mining/coal-mining-may-be-opened-up-to-all-sectors-before-next-auction/4.jpg"
                    alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Carbolt Mineral LTD</strong>
                    <br>
                    Cobalt Mineral LTD has been mining coal and other minerals in Australia in the past 10 years. Their
                    main quarry is in Olympic Dam, south of Australia. They mainly sell iron ore and some uranium ores too
                    nuclear power plants and iron ore extractors.
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <small class="has-text-grey">Author – Akshanjay</small>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </a>
      </div>
      

    </div>

    <div class="content"> 
      <h2 class="title f-15r">Chapter 2</h2>

      <div class="topic">
        <h3 class="title f-12r">Topic 2: Business Services</h3>
        <a class="box" href="carbolt_mineral_ltd.html">
          <div class="case">
            <article class="media">
              <div class="media-left">
                <figure class="image is-130w">
                  <img
                    src="https://img.etimg.com/thumb/width-640,height-480,imgsize-371409,resizemode-1,msid-73063341/industry/indl-goods/svs/metals-mining/coal-mining-may-be-opened-up-to-all-sectors-before-next-auction/4.jpg"
                    alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Carbolt Mineral LTD</strong>
                    <br>
                    Cobalt Mineral LTD has been mining coal and other minerals in Australia in the past 10 years. Their
                    main quarry is in Olympic Dam, south of Australia. They mainly sell iron ore and some uranium ores too
                    nuclear power plants and iron ore extractors.
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <small class="has-text-grey">Author – Akshanjay</small>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </a>
      </div>
      

    </div>



  </div>
  -->
    </div>
  </div>

  <footer class="footer" style="position:relative;">
    <div class="content has-text-centered">
      <span>Email: <a href="mailto:contact@studybusiness.info">contact@studybusiness.info</a></span>
    </div>
  </footer>
  <script>
    Array.prototype.slice.call(document.querySelectorAll(".navbar-burger"), 0).forEach((function (r) {
      r.addEventListener("click", (function () {
        var e = document.getElementById(r.dataset.target);
        r.classList.toggle("is-active"), e.classList.toggle("is-active")
      }))
    }));
  </script>
</body>

</html>