<!DOCTYPE html>
<html lang="en">

<head>
    <title>Business – Home</title>

    <!--Meta Data -->
    <link rel="stylesheet" href="static/public/css/bulma.min.css">
    <link rel="stylesheet" href="static/public/css/main.css">
    <!-- == Fontawesome 5 == -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <!-- == Fontawesome 5 == -->
    <link rel="shortcut icon"
        href="https://raw.githubusercontent.com/GCSEAID/Studybusiness/dev/website/static/public/images/logo.png"
        type="image/x-icon">
    <!--end of Meta data -->


    <!--Navigation bar-->
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item noselect" href="/">
                    <img class="nodrag nav-logo"
                        src="https://raw.githubusercontent.com/GCSEAID/Studybusiness/dev/static/public/images/logotext.png"
                        draggable="false">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/" class="navbar-item">
                        Home
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="business" class="navbar-link">
                            Business
                        </a>
                        <div class="navbar-dropdown">
                            <div class="dropdown-trigger navbar-item">
                                <a href="cases" class="navbar-item">Cases</a><i class="nav-chev fas fa-chevron-right"
                                    aria-hidden="true"></i>
                            </div>
                            <div class="dropdown-trigger navbar-item">
                                <a href="definitions" class="navbar-item">Definitions</a><i
                                    class="nav-chev fas fa-chevron-right" aria-hidden="true"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </nav>


    <!--end of Navigation bar-->
</head>


<body>
    <div class="def_block">
        <h1 class="def_block_sub">Definitions List!</p>
            <iframe class="def_emb"
                src="https://bisak.sharepoint.com/sites/StudyBusiness.info/_layouts/15/Doc.aspx?sourcedoc={a102373b-2f2a-4d12-8bcc-8a29b2a01a2b}&amp;action=embedview&amp;wdPrint=0&amp;wdStartOn=1&amp;wdEmbedCode=0"
                frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a>
                document, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
    </div>


</body>
<footer class="footer">
    <div class="content has-text-centered">
        <span>Email: <a href="mailto:contact@studybusiness.info">contact@studybusiness.info</a></span>
    </div>
</footer>

</html>