<!DOCTYPE html>
<html lang="en">

<head>
    <title>Business Section – Definitions</title>

    {% include './layout/headerData.html' %}
    {% include './layout/navbar.html' %}

</head>


<body>
    <div class="def_block">
        <h1 class="def_block_sub">Definitions List!</p>
            <iframe src="https://view.officeapps.live.com/op/embed.aspx?
            src=https://raw.githubusercontent.com/GCSEAID/Studybusiness/Flask/static/definitions/Definitions/Business_Studies_Definitions.docx" 
            width="1366px" height="623px" frameborder="0">This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by 
            <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
    </div>


</body>
<footer class="footer">
    <div class="content has-text-centered">
        <span>Email: <a href="mailto:contact@studybusiness.info">contact@studybusiness.info</a></span>
    </div>
</footer>

</html>