<!DOCTYPE html>
<html lang="en">

<head>
    <title>Business Section – Definitions</title>

    {% include './layout/headerData.html' %}
    {% include './layout/navbar.html' %}

</head>


<body>
    <div class="def_block">
        <h1 class="def_block_sub">Definitions List!</p>
            <iframe class="def_emb"
                src="https://bisak.sharepoint.com/sites/StudyBusiness.info/_layouts/15/Doc.aspx?sourcedoc={a102373b-2f2a-4d12-8bcc-8a29b2a01a2b}&amp;action=embedview&amp;wdPrint=0&amp;wdStartOn=1&amp;wdEmbedCode=0"
                frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a>
                document, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
    </div>


</body>
<footer class="footer">
    <div class="content has-text-centered">
        <span>Email: <a href="mailto:contact@studybusiness.info">contact@studybusiness.info</a></span>
    </div>
</footer>

</html>