<html>

<head>
    <title>Home – StudyBusiness</title>
    {% include './layout/headerData.html' %}
    {% include './layout/navbar.html' %}
</head>

<body>
    <div class="is-medium is-bold">
        <div class="home_content">
            <h1 class="title is-spaced center-align">
                Welcome To StudyBusiness!
            </h1>
            <h2 class="subtitle is-spaced center-align">
                The place where you can learn all about IGCSE business to ace your exams.
            </h2>

            <div class="home_table center-align">
                <div class="grid-container" style="grid-template-columns: minmax(5rem, 40%) 1fr 1fr;">
                    <div class="subjects">
                        <h1 class="grid-item grid-item-title">What can we provide?</h1>
                        <ul class="grid-item grid-item-ul">

                            <a href="business">
                                <li>Business Studies</li>
                            </a>
                        </ul>
                    </div>
                    <div class="feats">
                        <h1 class="grid-item grid-item-title">What we offer?</h1>
                        <ul class="grid-item grid-item-ul">
                            <li class="grid-item grid-item-li">IGCSE Business Definitions Document</li>
                            <li class="grid-item grid-item-li">Cases Studies with questions</li>
                        </ul>
                    </div>
                    <!--                   <div class="aboutus">
                         <h1 class="grid-item grid-item-title">Who are we?</h1>
                        <ul class="grid-item grid-item-ul">
                        <p>We are students who are here to provide free resources to ensure your success.</p>
                    </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    </section>


    <!-- <script>
        function opennav() {
            var e = document.getElementById(r.dataset.target);
            r.classList.toggle("is-active"), e.classList.toggle("is-active")
        }
    </script> -->
    <script>
        Array.prototype.slice.call(document.querySelectorAll(".navbar-burger"), 0).forEach((function (r) {
            r.addEventListener("click", (function () {
                var e = document.getElementById(r.dataset.target);
                r.classList.toggle("is-active"), e.classList.toggle("is-active")
            }))
        }));
    </script>

    <!-- Hero footer: will stick at the bottom -->
    <footer class="footer">
        <div class="content has-text-centered">
            <span>Email: <a href="mailto:contact@studybusiness.info">contact@studybusiness.info</a></span>
        </div>
    </footer>

</body>

</html>