.is-collapsible {
  overflow-y: hidden;
  transition: height 0.2s ease;
}
.is-collapsible.is-active {
  transition: height 0.2s ease;
}
.is-collapsible.message-body {
  padding: 0 !important;
}
.is-collapsible.message-body .message-body-content {
  padding: 1.25em 1.5em;
}
:root {
  --orange: #ff6100;
  --custom-white: #f9f9f9;
  --bluegreen: #1597a2;
  --black: #000000;
  --white: #ffffff;
}
html,
head,
body,
* {
  overflow: initial;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: linear-gradient(180deg, #fff, #abeffb) !important;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
}

html, body {
  height: 100%;
  margin: 0;
  min-height: calc(100vh - 100px);
}


nav.navbar {
  background: var(--white) !important;
  background-color: var(--white) !important;
}
section {
  height: 5000px;
}
.def_block {
  text-align: center;
}

.logo-text-color {
  color: linear-gradient(90deg, #4c96d7, #083b66);
}
.bg-is-orange {
  background: var(--orange);
  background-color: var(--orange);
}
.bg-is-white {
  background: var(--custom-white);
  background-color: var(--custom-white);
}
.bg-is-bluegreen {
  background: var(--bluegreen);
  background-color: var(--bluegreen);
}
.bg-is-black {
  background: var(--black);
}
.text-is-orange {
  color: var(--orange);
}
.text-is-white {
  color: var(--custom-white);
}
.text-is-bluegreen {
  color: var(--bluegreen);
}
.text-is-black {
  color: var(--black);
}
.section-a {
  transition: background-color 1s ease;
  overflow: auto;
  height: 100vh;
}
.section-b {
  transition: background-color 1s ease;
  overflow: auto;
  height: 100vh;
}
.section-c {
  transition: background-color 1s ease;
  overflow: auto;
  height: 100vh;
}
/* footer,
footer.footer {
  padding: 1rem 1em 1rem;
  bottom: 0;
  position: absolute;
  width: 100%;
} */
footer,
footer.footer {
    position: fixed;
    bottom:0;
    width:100%;
    padding: 1rem 1em 1rem;
    /* height:60px;   Height of the footer */
}
.nav-logo {
  width: 112px;
  height: 28px;
}
div.hero-body {
  padding: 0.5rem 1.5rem !important;
}
div.hero-body > h2.subtitle.is-spaced.center-align {
  margin-bottom: 2.5rem !important;
}
.center-align {
  text-align: center !important;
}
.h1_5rem {
  font-size: 5rem !important;
}
.h1_10rem {
  font-size: 10rem !important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nodrag {
  -webkit-user-drag: none;
}
.navbar-menu {
  padding-top: 0;
}

.home_table {
  padding: 1%;
}

.grid-container {
  display: inline-grid;
  text-align: left;
  grid-template-columns: minmax(5rem, 100%) 1fr 1fr;
  padding: 1rem;
  grid-gap: 5rem;
  /* box-shadow: -7px 5px 16px 0 #61e6ff; */
  /* border: 1px solid #b1b1b1; */
  background: #fdffff;
  border-radius: 6px 6px 0px 0px;
  border: 3px solid #3273dc;
}
.grid-item-ul {
  list-style-type: inherit;
  display: block;
  margin-left: 0.83em;
  font-size: calc(10px + (10 - 8) * (100vw - 400px) / (800 - 400)) !important;
}
.grid-item-title {
  font-size: calc(11px + (16 - 11) * (100vw - 400px) / (800 - 400)) !important;
  margin-bottom: 0;
  
}
.f-16 {
  font-size: 16px !important;
}
.f-32 {
  font-size: 32px !important;
}
.f-64 {
  font-size: 64px !important;
}
.f-128 {
  font-size: 128px !important;
}
.f-256 {
  font-size: 256px !important;
}
.f-01r {
  font-size: 0.1rem !important;
}
.f-05r {
  font-size: 0.5rem !important;
}
.f-075r {
  font-size: 0.75rem !important;
}
.f-1r {
  font-size: 1rem !important;
}
.f-12r {
  font-size: 1.2rem !important;
}
.f-14r {
  font-size: 1.4rem !important;
}
.f-15r {
  font-size: 1.5rem !important;
}
.f-2r {
  font-size: 2rem !important;
}
.f-25r {
  font-size: 2.5rem !important;
}
.f-3r {
  font-size: 3rem !important;
}
.f-35r {
  font-size: 3.5rem !important;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.is-drop-right .dropdown-menu {
  top: -15px;
  margin-left: 100%;
}
.dropdown .dropdown-trigger button::after {
  content: "⦠";
}
.dropdown .dropdown-trigger button {
  padding: 0 0;
  border: 0;
  font-size: 14px;
  font-weight: 400;
  height: 2em;
}
.nav-chev {
  color: #3273dc;
  margin-top: -0.375em;
  border-radius: 2px;
  border-top: 0;
  content: " ";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 50%;
}
.dropdown.is-hoverable.is-drop-right:hover {
  background-color: #f5f5f5;
  color: #3273dc;
  cursor: pointer;
}
.dropdown.is-hoverable.is-drop-right:hover > .dropdown-trigger.navbar-item > a {
  color: #3273dc;
  cursor: pointer;
}
.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
  background-color: #f5f5f5;
  color: #3273dc;
}
.rotate-chevron {
  transform: rotate(180deg);
  transition: all 0.2s ease 0s;
}
.dropdown.is-hoverable.is-drop-right {
  width: 100% !important;
}

.def_block_sub {
  font-weight: bold;
  font-size: x-large;
  padding: 1%;
}

.def_emb {
  align-items: center;
  width: 80%;
  height: 500px;   
  padding: 1%;
}

.submit_button {
  width: 20%;
  align-self: center;
}

.case_studies_template {
  padding-bottom: 100px;
}