 <!-- Start of Header Data -->

    <!--Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='public/css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='public/css/main.css') }}">
    <!-- == Fontawesome 5 == -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <!-- == Logo == -->
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/GCSEAID/Studybusiness/dev/website/static/public/images/logo.png" type="image/x-icon">
    
<!-- End of Header Data -->